<form class="form-group" #heroForm (ngSubmit)="onSubmit()">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" required [(ngModel)]="model.name" />
  <label for="alterEgo">Alter Ego</label>
  <input type="text" name="alertEgo" id="alterEgo" [(ngModel)]="model.alterEgo" />
  <label for="power">Hero Power</label>
  <select name="power" id="power" required [(ngModel)]="model.power">
    <option *ngFor="let pow of powers" [value]="pow">{{ pow }}</option>
  </select>
  <input type="submit">
</form>
